<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- 静态文件处理 -->
    <staticContent>
      <!-- 移除冲突的MIME类型 -->
      <remove fileExtension=".webmanifest" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".woff" />
      
      <!-- 添加自定义MIME类型 -->
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
    </staticContent>
    
    <!-- 默认文档 -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>