<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- 静态文件处理 -->
    <staticContent>
      <!-- 移除冲突的MIME类型 -->
      <remove fileExtension=".webmanifest" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".woff" />
      
      <!-- 添加自定义MIME类型 -->
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".xaml" mimeType="application/xaml+xml" />
    </staticContent>
    
    <!-- 默认文档 -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <!-- CORS 配置 -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
      </customHeaders>
    </httpProtocol>
    
    <rewrite>
        <rules>
            <rule name="Force HTTPS Redirection" stopProcessing="true">
                <match url="(.*)" />
                <conditions trackAllCaptures="false">
                    <add input="{HTTPS}" pattern="^OFF$" />
                    <add input="{REQUEST_URI}" pattern="^/pcl/.*" negate="true" />
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
            </rule>
            <rule name="PCL Directory Index" stopProcessing="true">
                <match url="^pcl/$" />
                <action type="Rewrite" url="pcl/Custom.xaml" />
            </rule>
            <rule name="PCL Static Files" stopProcessing="true">
                <match url="^pcl/.*\.(xaml|ini|txt)$" />
                <action type="None" />
            </rule>
        </rules>
    </rewrite>
    <caching>
        <profiles>
            <add extension=".aspx" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        </profiles>
    </caching>
  </system.webServer>
</configuration>